Задача № 1:  3

Вариант 3. Thriller, Sci-Fi, Adventure

Один фильм может принадлежать разным жанрам

In [6]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pyspark.sql.functions as F
from pyspark.sql import Row
from pyspark.sql.types import IntegerType, StructType, StructField, StringType, LongType, DoubleType

sc = SparkContext.getOrCreate()
sqlc = SQLContext(sc)

small_movies_path = "/user/cloudera/hw2/task1/small/movies.csv"
small_ratings_path = "/user/cloudera/hw2/task1/small/ratings.csv"

genres = ["Thriller", "Sci-Fi", "Adventure"]

movies_schema = StructType([
    StructField("id", IntegerType()),
    StructField("title", StringType()),
    StructField("genres", StringType())
])

ratings_schema = StructType([
    StructField("user_id", IntegerType()),
    StructField("movie_id", IntegerType()),
    StructField("rating", DoubleType()),
    StructField("timestamp", LongType())
])

df_small_movies = spark.read.csv(small_movies_path, header=True, schema=movies_schema)
df_small_ratings = spark.read.csv(small_ratings_path, header=True, schema=ratings_schema)

In [7]:
df_small_movies.persist()
df_small_movies.printSchema()
df_small_movies.show(5)

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+---+--------------------+--------------------+
| id|               title|              genres|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Adventure|Animati...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|Comedy|Drama|Romance|
|  5|Father of the Bri...|              Comedy|
+---+--------------------+--------------------+
only showing top 5 rows

In [8]:
df_small_ratings.persist()
df_small_ratings.printSchema()
df_small_ratings.show(5)

root
 |-- user_id: integer (nullable = true)
 |-- movie_id: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: long (nullable = true)

+-------+--------+------+---------+
|user_id|movie_id|rating|timestamp|
+-------+--------+------+---------+
|      1|       1|   4.0|964982703|
|      1|       3|   4.0|964981247|
|      1|       6|   4.0|964982224|
|      1|      47|   5.0|964983815|
|      1|      50|   5.0|964982931|
+-------+--------+------+---------+
only showing top 5 rows

1. Выведите данные, сопоставляющие жанры и количество фильмов

In [9]:
def genre_count(data_frame, genre):
    return str(
        data_frame
            .filter(F.col('genres').contains(genre))
            .select(F.countDistinct('id'))
            .take(1)[0][0]
    )

for genre in genres:
    print('{0}: {1}'.format(genre, genre_count(df_small_movies, genre)))

Thriller: 1894
Sci-Fi: 980
Adventure: 1263

2. Выведите первые 10 фильмов с наибольшим количеством рейтингов для каждого жанра в соотвествии с вариантом

In [12]:
def most_rated_movies(df_movies, df_ratings):
    df_movies_and_ratings = (df_movies
                             .alias('movies')
                             .join(df_ratings.alias('ratings'), F.col('movies.id') == F.col('ratings.movie_id'))
                             .select('movies.id', 'movies.title', 'movies.genres'))
    for genre in genres:
        print("Genre: {0}".format(genre))
        joined = (df_movies_and_ratings
            .alias('movies_and_ratings')
            .filter(F.col('genres').contains(genre))
            .groupBy('id')
            .count()
            .sort(F.desc('count'))
            .join(df_movies.alias('movies'), F.col('movies.id') == F.col('movies_and_ratings.id'))
            .limit(10))
            
        joined.select('movies.id', 'movies.title', 'movies.genres', 'count').show(10)
        
most_rated_movies(df_small_movies, df_small_ratings)

Genre: Thriller
+----+--------------------+--------------------+-----+
|  id|               title|              genres|count|
+----+--------------------+--------------------+-----+
| 296| Pulp Fiction (1994)|Comedy|Crime|Dram...|  307|
| 593|Silence of the La...|Crime|Horror|Thri...|  279|
|2571|  Matrix, The (1999)|Action|Sci-Fi|Thr...|  278|
| 480|Jurassic Park (1993)|Action|Adventure|...|  238|
|2959|   Fight Club (1999)|Action|Crime|Dram...|  218|
|  50|Usual Suspects, T...|Crime|Mystery|Thr...|  204|
|  47|Seven (a.k.a. Se7...|    Mystery|Thriller|  203|
| 780|Independence Day ...|Action|Adventure|...|  202|
| 457|Fugitive, The (1993)|            Thriller|  190|
| 592|       Batman (1989)|Action|Crime|Thri...|  189|
+----+--------------------+--------------------+-----+

Genre: Sci-Fi
+----+--------------------+--------------------+-----+
|  id|               title|              genres|count|
+----+--------------------+--------------------+-----+
|2571|  Matrix, The (1999)|Action|Sci-Fi|Thr...|  278|
| 260|Star Wars: Episod...|Action|Adventure|...|  251|
| 480|Jurassic Park (1993)|Action|Adventure|...|  238|
| 589|Terminator 2: Jud...|       Action|Sci-Fi|  224|
|1196|Star Wars: Episod...|Action|Adventure|...|  211|
| 780|Independence Day ...|Action|Adventure|...|  202|
|1210|Star Wars: Episod...|Action|Adventure|...|  196|
|  32|Twelve Monkeys (a...|Mystery|Sci-Fi|Th...|  177|
|1270|Back to the Futur...|Adventure|Comedy|...|  171|
|1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|  165|
+----+--------------------+--------------------+-----+

Genre: Adventure
+----+--------------------+--------------------+-----+
|  id|               title|              genres|count|
+----+--------------------+--------------------+-----+
| 260|Star Wars: Episod...|Action|Adventure|...|  251|
| 480|Jurassic Park (1993)|Action|Adventure|...|  238|
|   1|    Toy Story (1995)|Adventure|Animati...|  215|
|1196|Star Wars: Episod...|Action|Adventure|...|  211|
| 780|Independence Day ...|Action|Adventure|...|  202|
| 150|    Apollo 13 (1995)|Adventure|Drama|IMAX|  201|
|1198|Raiders of the Lo...|    Action|Adventure|  200|
|4993|Lord of the Rings...|   Adventure|Fantasy|  198|
|1210|Star Wars: Episod...|Action|Adventure|...|  196|
|5952|Lord of the Rings...|   Adventure|Fantasy|  188|
+----+--------------------+--------------------+-----+

3. Выведите первые 10 фильмов с наименьшим количеством рейтингов (но больше 10) для каждого жанра в соотвествии с вариантом

In [29]:
def least_rated_movies(df_movies, df_ratings):
    df_movies_and_ratings = (df_movies
                             .alias('movies')
                             .join(df_ratings.alias('ratings'), F.col('movies.id') == F.col('ratings.movie_id'))
                             .select('movies.id', 'movies.title', 'movies.genres'))
    for genre in genres:
        print("Genre: {0}".format(genre))
        joined = (df_movies_and_ratings
            .alias('movies_and_ratings')
            .filter(F.col('genres').contains(genre))
            .groupBy('id')
            .count()
            .filter('`count` > 10')
            .sort(F.asc('count'))
            .join(df_movies.alias('movies'), F.col('movies.id') == F.col('movies_and_ratings.id'))
            .limit(10))
            
        joined.select('movies.id', 'movies.title', 'movies.genres', 'count').show()
        
least_rated_movies(df_small_movies, df_small_ratings)

Genre: Thriller
+------+--------------------+--------------------+-----+
|    id|               title|              genres|count|
+------+--------------------+--------------------+-----+
|  1342|     Candyman (1992)|     Horror|Thriller|   11|
|  2122|Children of the C...|     Horror|Thriller|   11|
|  1483|        Crash (1996)|      Drama|Thriller|   11|
| 64983|     Valkyrie (2008)|  Drama|Thriller|War|   11|
|159093|Now You See Me 2 ...|Action|Comedy|Thr...|   11|
|  4326|Mississippi Burni...|Crime|Drama|Thriller|   11|
|  1480|Smilla's Sense of...|      Drama|Thriller|   11|
|  3741|     Badlands (1973)|Crime|Drama|Thriller|   11|
| 46335|Fast and the Furi...|Action|Crime|Dram...|   11|
|  2414|Young Sherlock Ho...|Action|Adventure|...|   11|
+------+--------------------+--------------------+-----+

Genre: Sci-Fi
+------+--------------------+--------------------+-----+
|    id|               title|              genres|count|
+------+--------------------+--------------------+-----+
|  6294|Bulletproof Monk ...|Action|Adventure|...|   11|
|  2346|Stepford Wives, T...|Mystery|Sci-Fi|Th...|   11|
|122906|Black Panther (2017)|Action|Adventure|...|   11|
|110553|The Amazing Spide...|  Action|Sci-Fi|IMAX|   11|
|  2827|Astronaut's Wife,...|Horror|Sci-Fi|Thr...|   11|
| 87520|Transformers: Dar...|Action|Adventure|...|   11|
|  2648| Frankenstein (1931)| Drama|Horror|Sci-Fi|   11|
| 93363|  John Carter (2012)|Action|Adventure|...|   11|
| 52287|Meet the Robinson...|Action|Adventure|...|   11|
|  3503|Solaris (Solyaris...|Drama|Mystery|Sci-Fi|   11|
+------+--------------------+--------------------+-----+

Genre: Adventure
+----+--------------------+--------------------+-----+
|  id|               title|              genres|count|
+----+--------------------+--------------------+-----+
|7324|      Hidalgo (2004)|     Adventure|Drama|   11|
|2414|Young Sherlock Ho...|Action|Adventure|...|   11|
| 599|Wild Bunch, The (...|   Adventure|Western|   11|
|6294|Bulletproof Monk ...|Action|Adventure|...|   11|
| 631|All Dogs Go to He...|Adventure|Animati...|   11|
|1615|    Edge, The (1997)|     Adventure|Drama|   11|
| 709|Oliver & Company ...|Adventure|Animati...|   11|
|2822| Medicine Man (1992)|   Adventure|Romance|   11|
|2153|Avengers, The (1998)|    Action|Adventure|   11|
|7247|Chitty Chitty Ban...|Adventure|Childre...|   11|
+----+--------------------+--------------------+-----+

4. Выведите первые 10 фильмов с наибольшим средним рейтингом при количестве рейтингов больше 10 для каждого жанра в соотвествии с вариантом

In [44]:
def max_avg_rating(df_movies, df_ratings):
    df_movies_and_ratings = (df_movies
                             .alias('movies')
                             .join(df_ratings.alias('ratings'), F.col('movies.id') == F.col('ratings.movie_id'))
                             .select('movies.id', 'movies.title', 'movies.genres', 'ratings.rating'))
    for genre in genres:
        print("Genre: {0}".format(genre))
        joined = (df_movies_and_ratings
            .alias('movies_and_ratings')
            .filter(F.col('genres').contains(genre))
            .groupBy('id')
            .agg(F.count('title').alias('count'), F.avg('rating').alias('avg'))
            .filter('`count` > 10')
            .sort(F.desc('avg'))
            .join(df_movies.alias('movies'), F.col('movies.id') == F.col('movies_and_ratings.id'))
            .limit(10))
            
        joined.select('movies.id', 'movies.title', 'movies.genres', 'count', 'avg').show()
        
max_avg_rating(df_small_movies, df_small_ratings)

Genre: Thriller
+-----+--------------------+--------------------+-----+-----------------+
|   id|               title|              genres|count|              avg|
+-----+--------------------+--------------------+-----+-----------------+
| 2959|   Fight Club (1999)|Action|Crime|Dram...|  218|4.272935779816514|
| 1248|Touch of Evil (1958)|Crime|Film-Noir|T...|   17|4.264705882352941|
|  904|  Rear Window (1954)|    Mystery|Thriller|   84|4.261904761904762|
|48516|Departed, The (2006)|Crime|Drama|Thriller|  107|4.252336448598131|
| 1267|Manchurian Candid...|  Crime|Thriller|War|   30|             4.25|
|  930|    Notorious (1946)|Film-Noir|Romance...|   20|             4.25|
| 3508|Outlaw Josey Wale...|Action|Adventure|...|   18|             4.25|
|   50|Usual Suspects, T...|Crime|Mystery|Thr...|  204|4.237745098039215|
| 1212|Third Man, The (1...|Film-Noir|Mystery...|   24|4.229166666666667|
| 1245|Miller's Crossing...|Crime|Drama|Film-...|   20|            4.225|
+-----+--------------------+--------------------+-----+-----------------+

Genre: Sci-Fi
+------+--------------------+--------------------+-----+------------------+
|    id|               title|              genres|count|               avg|
+------+--------------------+--------------------+-----+------------------+
|168252|        Logan (2017)|       Action|Sci-Fi|   25|              4.28|
|   260|Star Wars: Episod...|Action|Adventure|...|  251| 4.231075697211155|
|  1196|Star Wars: Episod...|Action|Adventure|...|  211|4.2156398104265405|
|  2571|  Matrix, The (1999)|Action|Sci-Fi|Thr...|  278| 4.192446043165468|
|  1199|       Brazil (1985)|      Fantasy|Sci-Fi|   59| 4.177966101694915|
|  7361|Eternal Sunshine ...|Drama|Romance|Sci-Fi|  131|4.1603053435114505|
|   741|Ghost in the Shel...|    Animation|Sci-Fi|   27| 4.148148148148148|
|  1210|Star Wars: Episod...|Action|Adventure|...|  196| 4.137755102040816|
|   541| Blade Runner (1982)|Action|Sci-Fi|Thr...|  124| 4.100806451612903|
|  3503|Solaris (Solyaris...|Drama|Mystery|Sci-Fi|   11| 4.090909090909091|
+------+--------------------+--------------------+-----+------------------+

Genre: Adventure
+----+--------------------+--------------------+-----+------------------+
|  id|               title|              genres|count|               avg|
+----+--------------------+--------------------+-----+------------------+
|1204|Lawrence of Arabi...| Adventure|Drama|War|   45|               4.3|
|3508|Outlaw Josey Wale...|Action|Adventure|...|   18|              4.25|
|1197|Princess Bride, T...|Action|Adventure|...|  142| 4.232394366197183|
| 260|Star Wars: Episod...|Action|Adventure|...|  251| 4.231075697211155|
|3030|      Yojimbo (1961)|    Action|Adventure|   13| 4.230769230769231|
|1196|Star Wars: Episod...|Action|Adventure|...|  211|4.2156398104265405|
|1198|Raiders of the Lo...|    Action|Adventure|  200|            4.2075|
|2019|Seven Samurai (Sh...|Action|Adventure|...|   48|            4.1875|
| 908|North by Northwes...|Action|Adventure|...|   57| 4.184210526315789|
|1136|Monty Python and ...|Adventure|Comedy|...|  136| 4.161764705882353|
+----+--------------------+--------------------+-----+------------------+

5. Выведите первые 10 фильмов с наименьшим средним рейтингом при количестве рейтингов больше 10 для каждого жанра в соотвествии с вариантом

In [45]:
def min_avg_rating(df_movies, df_ratings):
    df_movies_and_ratings = (df_movies
                             .alias('movies')
                             .join(df_ratings.alias('ratings'), F.col('movies.id') == F.col('ratings.movie_id'))
                             .select('movies.id', 'movies.title', 'movies.genres', 'ratings.rating'))
    for genre in genres:
        print("Genre: {0}".format(genre))
        joined = (df_movies_and_ratings
            .alias('movies_and_ratings')
            .filter(F.col('genres').contains(genre))
            .groupBy('id')
            .agg(F.count('title').alias('count'), F.avg('rating').alias('avg'))
            .filter('`count` > 10')
            .sort(F.asc('avg'))
            .join(df_movies.alias('movies'), F.col('movies.id') == F.col('movies_and_ratings.id'))
            .limit(10))
            
        joined.select('movies.id', 'movies.title', 'movies.genres', 'count', 'avg').show()
        
min_avg_rating(df_small_movies, df_small_ratings)

Genre: Thriller
+-----+--------------------+--------------------+-----+------------------+
|   id|               title|              genres|count|               avg|
+-----+--------------------+--------------------+-----+------------------+
| 1556|Speed 2: Cruise C...|Action|Romance|Th...|   19| 1.605263157894737|
| 2404|    Rambo III (1988)|Action|Adventure|...|   12|1.9166666666666667|
|43928|  Ultraviolet (2006)|Action|Fantasy|Sc...|   13|1.9230769230769231|
| 1499|     Anaconda (1997)|Action|Adventure|...|   27|1.9259259259259258|
| 1882|     Godzilla (1998)|Action|Sci-Fi|Thr...|   33|1.9545454545454546|
| 2338|I Still Know What...|Horror|Mystery|Th...|   18|2.0555555555555554|
|46335|Fast and the Furi...|Action|Crime|Dram...|   11| 2.090909090909091|
| 1515|      Volcano (1997)|Action|Drama|Thri...|   15|               2.1|
| 1644|I Know What You D...|Horror|Mystery|Th...|   32|          2.109375|
| 2719|Haunting, The (1999)|     Horror|Thriller|   13|2.1153846153846154|
+-----+--------------------+--------------------+-----+------------------+

Genre: Sci-Fi
+-----+--------------------+--------------------+-----+------------------+
|   id|               title|              genres|count|               avg|
+-----+--------------------+--------------------+-----+------------------+
| 3593|Battlefield Earth...|       Action|Sci-Fi|   19|1.6578947368421053|
| 2643|Superman IV: The ...|Action|Adventure|...|   16|            1.6875|
|43928|  Ultraviolet (2006)|Action|Fantasy|Sc...|   13|1.9230769230769231|
| 1882|     Godzilla (1998)|Action|Sci-Fi|Thr...|   33|1.9545454545454546|
|  546|Super Mario Bros....|Action|Adventure|...|   21|               2.0|
| 2053|Honey, I Blew Up ...|Children|Comedy|S...|   20|              2.05|
| 2450|Howard the Duck (...|Adventure|Comedy|...|   16|           2.15625|
| 2808|Universal Soldier...|       Action|Sci-Fi|   17|2.2058823529411766|
| 2701|Wild Wild West (1...|Action|Comedy|Sci...|   53| 2.207547169811321|
| 2642| Superman III (1983)|Action|Adventure|...|   22|              2.25|
+-----+--------------------+--------------------+-----+------------------+

Genre: Adventure
+-----+--------------------+--------------------+-----+------------------+
|   id|               title|              genres|count|               avg|
+-----+--------------------+--------------------+-----+------------------+
| 2643|Superman IV: The ...|Action|Adventure|...|   16|            1.6875|
| 2422|Karate Kid, Part ...|Action|Adventure|...|   14|              1.75|
| 3997|Dungeons & Dragon...|Action|Adventure|...|   12|1.8333333333333333|
| 2404|    Rambo III (1988)|Action|Adventure|...|   12|1.9166666666666667|
| 1499|     Anaconda (1997)|Action|Adventure|...|   27|1.9259259259259258|
|  546|Super Mario Bros....|Action|Adventure|...|   21|               2.0|
| 3440|Teenage Mutant Ni...|Action|Adventure|...|   14|2.0714285714285716|
|34520|Dukes of Hazzard,...|Action|Adventure|...|   12|2.0833333333333335|
| 2720|Inspector Gadget ...|Action|Adventure|...|   21|2.0952380952380953|
| 2450|Howard the Duck (...|Adventure|Comedy|...|   16|           2.15625|
+-----+--------------------+--------------------+-----+------------------+